doctype
head
  title Yi Yan's Blog
  meta(charset="utf-8")
  meta(name="viewport", content="width=device-width, initial-scale=1")
  link(rel="stylesheet", href="/scss/skeleton.css")
  link(rel="stylesheet", href="//fonts.googleapis.com/css?family=Raleway:400,300,600")
body
  div.container
    br
    a.button(href="/") Home
    a.button(href="/projects/foodpoints") Foodpoints+
    a.button(href="/projects/memento") Memento
    a.button.button-primary(href="http://github.com/chronologos") Github
  div.container
    br
    != yield
  div.container#footer
    hr
    p Copyright (c) Yi Yan Tay 
