doctype
head
  title Yi Yan's Blog
  meta(charset="utf-8")
  meta(name="viewport", content="width=device-width, initial-scale=1")
  link(rel="stylesheet", href="/scss/skeleton.css")
  link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Roboto+Slab:400,300,700' rel='stylesheet")
body  
  div.container
    br
    != yield
  div.container#footer
    hr
    p #[a(href="/") Home] #[a(href="http://github.com/chronologos") Github] #[a(href="https://www.dropbox.com/s/sj0o62iflhvyvr9/yiyantayCV.pdf?dl=0") My Résumé]
