div
  h4.u-pull-right Yi Yan, Tay
  p.u-cf I am a Sophomore at Duke University majoring in Electrical and Computer Engineering. I made #[a(href="https://foodpoints.herokuapp.com/") Foodpoints+], an app for Duke students to track and visualize their Foodpoints in real time. Coming from Singapore, I especially enjoy the beautiful weather in Durham, NC. In my free time I enjoy reading, hiking and tinkering with code/hardware. My #[a(href="https://www.dropbox.com/s/sj0o62iflhvyvr9/yiyantayCV.pdf?dl=0") resume].
    
  h5.u-pull-right Colophon
  p.u-cf This site is written in #[a(href="http://jade-lang.com/") Jade], styled with #[a(href="http://getskeleton.com/") Skeleton] and hosted on Github using #[a(href="http://harpjs.com/") Harp].
