div
  h3.u-pull-right Yi Yan, Tay
  p.u-cf I am a Sophomore at Duke University majoring in Electrical & Computer Engineering. I made #[a(href="/projects/foodpoints") Foodpoints+], an app for Duke students to track and visualize their Foodpoints in real time. My #[a(href="/projects/memento") team] was also one of 10 finalists at Hackathon@SG 2015. 
  
  p Coming from Singapore, I especially enjoy the beautiful weather in Durham, NC. Fall here is especially beautiful. In my free time I enjoy reading, #[a(href="https://www.dropbox.com/s/0xx94r7p9mxgsyd/2014-07-14%201.32.04.jpg?dl=0") hiking], Starcraft and tinkering. 

  p This site is hosted on Github Pages using #[a(href="http://harpjs.com/") Harp].
