h5
  a(href="https://foodpoints.herokuapp.com/") Foodpoints+
p This is a project I started working on in Fall 2015. Essentialy it is a food point tracking application for Duke University students. Even though this app is currently in beta, we have about 90 active users. The challenge for me was learning how to work with the limited APIs that Duke offered. Also, I had to refactor the existing FoodPoints+ codebase (which was handed over to me) for future extensibility.
