h5
  a(href="https://foodpoints.herokuapp.com/") Foodpoints+
div
  img.img-med(src="https://foodpoints.herokuapp.com/sample.png")
p This is a project I started working on in Fall 2015. Essentialy it is a food point tracking application for Duke University students. Even though this app is currently in beta, we have about 250 active users. This project was challenging as it involved refactoring the existing FoodPoints+ codebase (which was handed over to me) for future extensibility, which involved working with the legacy code left behind from a previous student. Specifically, I modularized the codebase by porting most of the existing functionality to angular.js. We also added new functionality by tracking aggregate data using Redis.
